@import url('https://fonts.googleapis.com');

body {
    font-family: 'Roboto', sans-serif;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    height: 80px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.information {
    text-align: center;
}

.information-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 30px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    background-color: #E5E7EB;
    height: 400px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 680px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    align-self: center;
}

.quote-sayer {
    font-size: 18px;
    font-weight: 900;
    margin-right: 25px;
    align-self: flex-end;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-box {
    height: 130px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.card-text {
    text-align: left;
    font-size: 18px;
    color: #6d7787;
    text-align: center;
}

.card, .card-box {
    width: 130px;
}

.call-to-action {
    align-self: center;
}

.cta-container {
    width: 950px;
    height: 100px;
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.cta-container-text {
    display: flex;
    flex-direction: column;
}

.cta-primary { 
    font-weight: 600;
    color: #F9FAF8;
}

.cta-secondary {
    font-weight: 50;
    color: #E5E7EB;
}

.sign-up-button {
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 8px;
    border-style: solid;
    padding: 5px 30px;
    background-color: transparent;
}

.sign-up-button:hover {
    cursor: pointer;
    background-color: #639efc;
}